body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(235, 154, 193);
    
  }

.container {
  position: relative;
  background: rgb(238, 240, 239);
  width: 100;
  padding: 10px 30px 30px;
  box-shadow: 25px 25px 40px;
}

h1 {
   text-align: center;
   padding-top: 0;
   
}
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 70px;
    font-weight: bold;
    line-height: 34px;
    height: 120px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 120px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 50px;
    font-size: 20px;
    display: flex;
    align-items:center;
  }
  